{% extends "layout.twig" %}

{% block content %}
<h1>Actions</h1>
<ul>
    <li>Bonuses
        <ul>
            <li><a href="">Create</a></li>
            <li><a href="">List</a></li>
        </ul>

    </li>
    <li>Wallets
        <ul>
            <li><a href="">Create</a></li>
            <li><a href="">List</a></li>
        </ul>
    </li>
    <li>Players
        <ul>
            <li><a href="">Create</a></li>
            <li><a href="">List</a></li>
        </ul>
    </li>
    <li><a href="/simulate">Simulation</a></li>

</ul>
{% endblock %}