{% if player is not empty %}
<table>
    <tr>
        <td>Total Balance</td>
        <td>{{ player.calculateBalance() }}</td>
    </tr>
    <tr>
        <td>Real Money</td>
        <td>{{ player.calculateRealBalance() }}</td>
    </tr>
    {% for bonusWallet in player.getBonusWallets() %}
        <tr>
            <td>{{ bonusWallet.getAssociatedBonus().getName() }}</td>
            <td>{{ bonusWallet.getAmount() }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
    Invalid Player
{% endif %}