{% extends "layout.twig" %}

{% block content %}
    <h1>Simulation</h1>

    <div>
        <div>
            <select name="player" id="playerId">
                {% for player in players %}
                    <option value="{{ player.getId() }}">{{ player.getName() }}</option>
                {% endfor %}
            </select></div>
        <div id="playerData">
            {% include "slot-machine/playerData.twig" with { 'player': player }%}
        </div>
    </div>

    <div>
        <fieldset>
            <legend>Simulate Deposit</legend>

            <input type="text" value="100" id="depositAmount">
            <button id="performDeposit">Deposit</button>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Simulate Login</legend>

            <button id="performLogin">Login</button>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Simulate game play (spin)</legend>

            <label>Bet Amount</label>
            <input type="text" value="10" id="betAmount">
            <button id="performSpin">Spin</button>

            <span>Win amount</span>
            <input type="text" readonly value="" id="winAmount">
            <span id="result"></span>
        </fieldset>
    </div>

    <script type="text/javascript">
//        jQuery.support.cors = true;

        $('#performDeposit').click(function () {
            var depositAmount = parseInt($('#depositAmount').val());

            if (depositAmount > 0) {
                $.ajax({
                    type :'POST',
                    url : '{{ api.depositUrl }}',
                    async: false,
                    data : ({
                        "playerId": getPlayer(),
                        depositAmount: depositAmount
                    }),
                    success : function (data, textStatus, jqXHR) {
                        refresh();
                    }
                });
            } else {
                alert('Deposit amount must be greater than 0')
            }
        });

        $('#performLogin').click(function () {
            $.ajax({
                type :'POST',
                url : '{{ api.loginUrl }}',
                async: false,
                data : ({
                    "playerId": getPlayer()
                }),
                success : function (data) {
                    refresh();
                }
            });
        });

        $('#performSpin').click(function () {
            var betAmount = parseInt($('#betAmount').val());

            $('#result').empty();

            $.ajax({
                type :'POST',
                url : '{{ api.playUrl }}',
                async: false,
                data : ({
                    "playerId": getPlayer(),
                    betAmount: betAmount
                }),
                success : function (data) {
                    var winAmount = data.winAmount;
                    $('#winAmount').val(winAmount.amount + ' ' + winAmount.currency);
                    refresh()
                }
            });
        });

        function getPlayer() {
            return parseInt($('select#playerId option:selected').val());
        }

        function refresh() {
            $.get( "{{ refreshUrl }}/"+getPlayer(), function( data ) {
                $( "#playerData" ).empty().html( data );
            });
        }
    </script>
{% endblock %}